# Virtual environment
venv/

# Python cache & temp
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Build
dist/
build/
*.exe

# Excel temp
~$*.xlsx
*.tmp

# System / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# OS temp
*.swp
*.swo

# Logs / env
logs/
.env

# Ignore all files inside processed folders except .gitkeep
incoming_exports/processed/*
!incoming_exports/processed/.gitkeep

excel_templates/processed/*
!excel_templates/processed/.gitkeep
